@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--background: oklch(30 0 0);
	--foreground: oklch(0.145 0 0);
	--bg-accent: #ffe8f0;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-accent: var(--bg-accent);
}

@layer base {
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		@apply bg-background text-foreground;
		margin: 0;
		min-width: 320px;
		min-height: 100vh;
		@apply bg-gray-100;
		/* padding: 12px; */
	}

	#root {
		/* max-width: 1440px; */
		margin: 0 auto;
	}
}

@layer components {
	.input-field {
		@apply border-2 px-3 py-1.5 rounded-lg text-neutral-900 text-lg font-medium border-gray-300 bg-neutral-100 focus:bg-indigo-100 text-start focus:outline-none focus:border-indigo-400;
	}
	.cbtn {
		@apply px-6 py-2 w-fit border-none text-white rounded-xl text-base cursor-pointer bg-gradient-to-l from-indigo-500 to-indigo-500;
		transition: transform 0.5s, box-shadow 0.2s;
	}
	.cbtn:hover {
		transform: translateY(-2px);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	}

	.cbtn:disabled {
		transform: translateY(0px);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
	}

	.app-heading {
		@apply text-5xl w-fit mx-auto bg-gradient-to-r from-emerald-500 via-amber-500 to-rose-500 bg-clip-text text-transparent font-bold  m-5 p-5 max-sm:text-4xl max-sm:mt-3 max-sm:mb-3 max-sm:p-3;
	}
}
